* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    /* Our all colors  */

    --first-color: #22cc9d;
    --second-color: #434443;
    --text-color: #010101;


    --header-height: 3.5rem;
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;


    --font-medium: 500;
    --font-semi-bold: 600;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: #ffffff;
    color: var(--text-color);
    transition: .3s;
    /* For animation dark mode */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--first-color);
    color: var(--second-color);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: #fff;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-medium);
}

.nav__logo img {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    color: var(--first-color);
}

.nav__button {
    /* font-size: var(--h2-font-size); */
    color: #fff;
    background-color: var(--second-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#menu i{
    font-size: 2rem;
}
.ham{
    display: inline-flex;
    column-gap: 0.5rem;
    margin-right: 0.5rem;
    
}

@media screen and (max-width:1022px) {
    .nav__menu {
        bottom: 1rem;
        position: absolute;
        /* left: 0; */
        right: 0;
        top: 3.5rem;
        height: 100vh;
        width: 20%;   
    }
    .nav__menu li a:hover{
        border: 1px solid #000;
    }
    .nav__menu li{
        padding: 1rem 0;
    }
    .nav__menu li a{
        text-decoration: none;
        color: #fff;
    }
    .change{
        background-color: var(--second-color);
    }
}
.list{
    display: none;
}
@media screen and (min-width:1023px) {
    .nav {
        height: calc(var(--header-height) + 1rem);
    }

    .nav__logo {
        margin-left: 2rem;
        font-size: var(--h1-font-size);

    }

    .nav__menu {
        width: initial;
        margin-left: auto;
        margin-right: 3rem;
    }

    .nav__menu a {
        color: var(--text-color);
    }

    .nav__list {
        font-size: var(--h2-font-size);
        display: flex;
        column-gap: 3rem;
        font-weight: 600;
    }

    .nav__button {
        font-size: var(--h2-font-size);
        margin-right: 3rem;
        color: #fff;
        background-color: var(--second-color);
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    .nav__menu {
        display: inline-flex;
    }

    #menu {
        display: none;
    }

}